@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: black;  
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    border-left: 1px solid #52ff02;
    background-color: rgb(41, 40, 40);
}
::-webkit-scrollbar-thumb{
    background-color: #52ff02;
    border-radius: 6px;
}
html{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: black;
    width: 100%;
    height: 70px;
    padding: 10px 90px;
    border-bottom: 1px solid #52ff02;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;  
} 
nav{
    width: 70%;  
}
.logo{
    width: 55px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    line-height: 50px;
    color:  #04f082;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    justify-content: space-between;
}
li:hover{
    background: rgba(4, 240, 130, 0.2);
    color: #52ff02;
    border-radius: 6px;
    transition: .3s;
    box-shadow: 0px 0px 15px 8px #52ff0277;
    
}

p{
    margin-left: 5px;
    color: rgba(4, 240, 130);
    font-size: 14px;
}
.t-container{
    background-color: transparent;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.content{
    background-color: transparent;
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.texto{
    background-color: transparent;
    width: 50%;
    margin-right: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redes {
    background-color: transparent;
    display: flex;
    margin-top: 25px;
    column-gap: 35px;
}
.redes a {
    background-color: transparent;
    color: #04f082; 
}
.redes i{
    background-color: transparent;  
}
.redes a:hover{
    color: #52ff02;
    transform: scale(1.2);
    transition: .2s; 
    box-shadow: 0px 0px 15px 8px #52ff0233;
    border-radius: 50%;   
}
h1{
    background-color: transparent;
    padding-bottom: 20px;
    color:  #04f082;
}
h2{
    background-color: transparent;
    padding-bottom: 20px;
    color:  rgb(255, 255, 255);
}
span{
    background-color: transparent;
    color: #52ff02;
}
p{
    font-size: 3rem;
    background-color: transparent;
    color: #fff;
}
.container-sobre{
    background-color: transparent;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.content-sobre{
    background-color: transparent;
    width: 40%;
}
.texto-sobre {
    background-color: transparent;   
}
.texto-sobre p{
    background-color: transparent;
    font-size: 1rem;
}
#tecnologias{
    margin-top: 25px;
    background-color: transparent;
    color: aliceblue;
    display: block; 
    text-align: start;
}
#tecnologias h3{
    background-color: transparent;
}
section{
    width: 100%;
    min-height:100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section1{
    background-image: url(../imagem/section1.jpg);
    background-size: cover;   
}
#section2{
    background-image: url(../imagem/section2.png);
    background-size: cover;
}
#section3{
    background-image: url(../imagem/section3.jpg);
    background-size: cover;
}
#section4{
    background-image: url(../imagem/section4.png);
    background-size: cover;
}
.slide{
    margin-top: 15vh;
    width: 70%;
    height: 60vh;
    background-color: rgb(12, 12, 12);
    border-radius: 20px;
    box-shadow: 0px 0px 15px 8px #52ff023d;
}
.slide p{
    font-size: 24px;
    color: #04f082;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}
.itens{
    display: flex;
    overflow-x:auto;
    background-color: transparent;
}
.itens a {
    width: 100%;
    height: 100%;
    margin: 15px;
    background-color: black ;
    color: #04f082;
    text-align: center;
}
.itens a:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.199));
    transition: .5s;
    transform: scale(1.09);
    border-radius: 5px;
    box-shadow: 0px 0px 15px 8px #52ff027a;
}
@media (max-width: 780px) { 
    li{
        font-size: 15px;
    }
    .content-sobre{
        width: 60%;
    }
}
@media (max-width: 600px) { 
    header{
        display: none;
    }
    .content{
        width: 90%;       
    }
    .texto{
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        margin-right: 0%;
    }.slide{
        width: 90%;
        height: 60vh;
    }
    .content-sobre{
        width: 90%;
    }
}
footer{
    border-top: 1px solid #fff;
    height: 300px;
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/*https://www.kelvinsanchez15.com/#portfolio

https://www.figma.com/community/file/1162157859305054706/web-portfolio-matheus-campos
*/